html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@import "vars", "mixins";

html, body, div, p{
  line-height: 1.45;
  font-family: $defFontFamily;
  color: $defTxtColor;
  font-weight: 300;
}
em, i{
  font-style: italic;
}
strong, b{
  font-weight: 500;
}
h2 {
  margin-bottom: 1em;
}
h3 {
  margin-bottom: 0.5em;
}
html,body{
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}
body{
  font-size: $defFontSize;
  background: #232323;
  background: -moz-linear-gradient(top,  #232323 0%, #383838 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#232323), color-stop(100%,#383838));
  background: -webkit-linear-gradient(top,  #232323 0%,#383838 100%);
  background: -o-linear-gradient(top,  #232323 0%,#383838 100%);
  background: -ms-linear-gradient(top,  #232323 0%,#383838 100%);
  background: linear-gradient(to bottom,  #232323 0%,#383838 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  @include clearfix-after();
}
img{
  outline: none;
  border:none;
  max-width: 100%;
}
p, ul, ol{
  margin-bottom: 0.9em;
}


a{
  text-decoration: underline;
  color: $defTxtColor;

  &.icon-link, .icon-link &{
      text-decoration: none;
  }
}

.minor{
  &, a, span{
    color: $inactiveTxt;
    margin-bottom: 0;
  }
}
.viewport{
  overflow-y: scroll;

    /* Make sure the inner div is not larger than the container
     * so that we have room to scroll.
     */
    max-height: 100%;

    /* Pick an arbitrary margin/padding that should be bigger
     * than the max width of all the scroll bars across
     * the devices you are targeting.
     * padding = -margin
     */
    margin-right: -20px;
    padding-right: 20px;
}
.container{
  width: 81.25%;
  max-width: 1200px;
  min-width: 900px;
  margin: 2.3em auto 0;
  padding-bottom: 2em;
  @include clearfix();
  box-sizing: border-box;
  display: block;

  @media (max-width: 960px) {
      width: 90%;
      min-width: inherit;
  }
}

.left{
  width: 30%;
  max-width: 330px;
  padding-top: 2.3em;
  margin-right: 3.33%;
  text-align: center;

  @media (max-width: 960px) and (min-width: 600px) {
      text-align: left;
  }

  .name-link{
    display: block;
    margin-top: 6%;
    margin-bottom: 1em;
    text-decoration: none;
  }

  &.condensed{
    width: 20%;
    margin-right: 5%;

    .photo img{
    	filter: gray;
    	filter: grayscale(0.8);
  		-webkit-filter: grayscale(0.8);
  		filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
    }
  }
}

.main{
  width: 66.6667%;

  &.condensed + &{
    width: 75%;
  }
}

.left, .main, .left.condensed, .left.condensed + .main{
    float: left;
    padding-left: 2%;
    padding-right: 2%;
    box-sizing: border-box;

    @media (max-width: 960px) {
        @include clearfix();
        @include clearfix-after();
        display: block;
        float: none;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: inherit;
    }
}

.photo{
  display: block;
  max-width: 85%;
  margin: 0 auto;

  img{
      @include border-radius(62.5%);
  }

  @media (max-width: 960px) {
      width: 50%;
      height: 100%;

    img{
        max-height: 100%;
    }
  }

  @media (max-width: 600px) {
      width: 180px;
  }
}

.comments{
  @extend .minor;
  font-size: 81.25%;
  margin-left: 4%;
  display: inline-block;
}

.info-items{
  margin: 0 auto;

  @media (max-width: 960px) {
      width: 55%;
      margin-top: 1em;
      vertical-align: top;

      &, li{
          display: inline-block;
          *display: inline;
          zoom: 1;
      }
  }

  @media (max-width: 599px) {
      width: 85%;
      margin-top: 0;
  }

  li{
      margin-bottom: 0.3em;
    a{
      text-decoration: none;
      @extend .minor;

      &:hover, &:active, &:focus, &.active{
        color: $highlightTxt;
        @include text-shadow();
      }
    }

    &.icon{
        display: block;
    }

    @media (max-width: 960px) {
        margin: 0 6% 0.2em 0;
    }
    @media (max-width: 960px) {
        margin: 0 3% 0.2em;
    }
  }
}

.title{
  text-transform: uppercase;
  margin-top: 1.3em;

  &.case-normal{
    text-transform: none;
  }
}

.info-section{
  display: none;
  padding: 2em 2em;

  &.visible{
    display: block;
  }

  &#home{
  	  margin-top: 2em;
  }
}
.example-section{

    .section-content{
        margin-bottom: 3em;
    }

    img{
        display: block;
        margin: 0 auto;
    }

    @media (max-width:600px){
        .row{
            text-align: center;
        }
    }
}
.info-section, .example-section{
    h2.title{
      color: $highlightTitle;
      @include font-size(2);

      @media (max-width: 960px) {
          margin-top: 0em;
          margin-left: 2%;
      }

      @media (max-width: 600px){
          margin-left: 0;
          text-align: center;
          @include font-size(1.75);
      }
    }
}
.section-content{
  padding: 0 4%;

  .title{
    @include font-size(1.1);
    font-weight: normal;
  }

  > p, ul{
    margin-left: 4%;
  }

  ul.typo{
    list-style-type:circle;
    margin-top: 0;
    margin-left: 4%;

    li {
      margin-bottom: 0.4em;
      margin-left: 20px;
    }
  }
}

.divider{
    margin: 0 5px;
}

@media(max-width: 960px) {
  .mobile-nav{
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    margin: 0 4%;
    width: 160px;
    text-align: center;
  }

  .info-section, .info-section#home{
    margin-top: 0;
  }
}

@media(max-width: 600px) {
  .mobile-nav{
    margin: 0;
  }
}

// -------------------------------- Icons
.bottom-navigation {
  position: fixed;
  bottom: 10px;
  right: 45px;
  font-size: 0;
}

.icon {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  @include font-size(1.2);
  vertical-align: bottom;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: inline-block;
  width: 21px;
  text-align: center;

  p & {
    margin-left: -30px;
    padding-right: 30px;
  }

  .bottom-navigation & {
    display: none;
    padding: 0px;
    text-decoration: none;
    color: $inactiveTxt;
    @include font-size(1.2);
    vertical-align: middle;
    margin: 0 2px;

    &:hover, &:active, &:focus {
      color: $defTxtColor;
    }

    &:before {
      text-shadow: 1px 1px 1px $txtShadow;
    }
  }
}



.icon-linkedin:before { content: $icon-linkedin; }
.icon-facebook:before { content: $icon-facebook; }
.icon-git:before      { content: $icon-git; }
.icon-location:before { content: $icon-location; }
.icon-mail:before     { content: $icon-mail; }
.icon-home:before     { content: $icon-home; }
.icon-arrow-up:before { content: $icon-arrow-up; }

// -------------------- bit grid
.row{
   display: block;
   clear: both;
   width: 100%;

   @media (max-width: 600px){
       .col{
           width: 100%;
       }
   }
}
 .row:after, .row:before {
    @include clearfix();
    @include clearfix-after();
}

.col {
    float: left;
    padding: 0.5em;
    box-sizing: border-box;
}
.col-3\/4 { width: 75%; }
.col-1\/2 { width: 49.5%; }
.col-1\/3 { width: 33.33%; }
.col-1\/4 { width: 25%; }
.col-1\/1 { width: 100%; }
